//3a Add View
@using WebApplication2.Models
//5 Add Model to View
@model Entry

@{
    ViewBag.Title = "Index";
}

<h2>View</h2>
<h3>@Model.Name</h3>
//7 Use Model on View to display Data from Controller
<p>@Model.Name</p>
